
/*头部导航*/
.NavigationHead {
	text-align: right;
	font-family: "微软雅黑";
	font-size: 17px;
	color: #FF0000;
	margin-top: 20px;
}

/*图片LOGO*/
.ImgDisplay {
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
}


/************************************************Common Search*************************************************/
/*关键字输入框*/
.InputKeysClass {
	text-align: center; /*让div内部文字居中*/
	margin: 0 auto;
	margin-top: 10px;
}

/*输入框格式控制*/
.Keys {
	/*控制高度*/
	height: 30px;
	/*控制字体*/
	font-family: "微软雅黑";
	font-size: 20px;
	color: #FF0000;
	text-align: center;
}


/*搜索引擎列表*/
.SearchEngineList {
	text-align: center; /*让div内部文字居中*/
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}



/*--------------------------国内主流--------------------------*/
.color_a01 {
	font-family: "微软雅黑";
	font-size: 20px;
	color:#ffffff;
	background-color: #3385ff;
}
.color_a02 {
	font-family: "微软雅黑";
	font-size: 20px;
	color: #ff6f17;
	background-color: #f2f2f2;
}
.color_a03 {
	font-family: "微软雅黑";
	font-size: 20px;
	color: #2e344d;
	background-color: #ffce7f;
}
.color_a04 {
	font-family: "微软雅黑";
	font-size: 20px;
	background-color: #17ceeb;
}

/*--------------------------国外主流--------------------------*/
.color_b01 {
	font-family: "微软雅黑";
	font-size: 20px;
	color: #ea4335;
	background-color: #34a853;
}
.color_b02 {
	font-family: "微软雅黑";
	font-size: 20px;
	background-color: #de5833;
}
.color_b03 {
	font-family: "微软雅黑";
	font-size: 20px;
	background-color: #ffd633;
}

/*--------------------------其他--------------------------*/
.color_c01 {
	font-family: "微软雅黑";
	font-size: 20px;
	background-color: #de1c31;
}



/*************************************************************************************************/



/************************************************Tech Search*************************************************/

/*--------------------------国内主流--------------------------*/
.color_h01 {
	font-family: "微软雅黑";
	font-size: 20px;
	color: green;
	background-color: #f07c82;
}
.color_h02 {
	font-family: "微软雅黑";
	font-size: 20px;
	color: white;
	background-color: #2b1216;
}
.color_h03 {
	font-family: "微软雅黑";
	font-size: 20px;
	color: #bff7e4;
	background-color: #258788;
}
.color_h04 {
	font-family: "微软雅黑";
	font-size: 20px;
	color: red;
	background-color: #1d6fd5;
}


/*--------------------------国外主流--------------------------*/
.color_j01 {
	font-family: "微软雅黑";
	font-size: 20px;
	color: #f0f4c1;
	background-color: #65638a;
}

/*--------------------------其他--------------------------*/
.color_k01 {
	font-family: "微软雅黑";
	font-size: 20px;
	color: white;
	background-color: #dd4e00;
}
/*************************************************************************************************/



/*页面底部*/
.footer {
	text-align: center; /*让div内部文字居中*/
	margin: 0 auto;
	margin-top: 100px;
}